.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0 0 6px black;
}
.header figure{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: white;
}
.header figure img{
    /* margin-top: 5px; */
    height: 55px;
}
.header-nav{
    border-left: 5px solid gray;
    width: 100%;
    border-radius: 0 0 0 25px;
    object-fit: contain;
    background-color: #DADADA;
}
.header-nav ul{
    margin: 0;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    overflow: hidden;
}
.header-nav ul li{
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.header-tab{
    width: 150%;
    display: flex;
    margin: 0;
    text-decoration: none !important;
    color: black !important;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.header-tab:hover{
    background-color: #777070;
    color:white !important;
}
.header .active{
    height: 100%;
    background-color: #6B5454;
    object-fit: contain;
    color: white !important;
    font-weight: bold !important;
}
.a-1{
    border-radius: 0 0 0 25px !important;
}